<body>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="text-header d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6">        
          <button  class="btn-custom"><span>Conoce  </span></button>
        </div>
        <div class="col-sm-6">
            <h2>El dueño publica su inmueble en nuestra plataforna; el inquilino encuentra el inmueble que desea!</h2>
        </div>
      </div>
    </div>
  </div>
  <section class=" howwork gradient">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6"><img src="assets/images/question-mark.png" alt=""></div>
        <div class="col-md-6">
          <h1 class="my-3">¿Cómo funciona?</h1>
          <ul>
            <li>Publica los inmuebles que desees</li>
            <li>Los inquilinos interesado lo encontrarán facilmente</li>
            <li>Los inquilinos interesado lo encontrarán facilmente </li>
            <li>Validaremos si el inquilino es apto</li>
            <li>Nos respaldan las mejores aseguradoras XYZ</li>
          </ul>
        </div>
      </div>
    </div>
    </section>
</body>