//@import '../../../../assets/styles/vars/vars.scss';
//@import '../../../../assets/styles/vars/fonts.scss';

/*.form-data {
    .form-data {
        //font-family: $mainTipography;
        &__title {
            color: $darkBlue;
            font-size: 1.25rem;
        }
        &__text {
            color: $gray-seven;
        }
        &__select {
            margin-bottom: 1.3rem;
        }
    }
}*/