
<footer class="footer text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <h3>LoAlquilo</h3>
                <small class="d-block mb-3">Copyright @ 2020 Todos los derechos reservados</small>
            </div>
            <div class="col-12 col-md-3">
                <h5>Acerca de</h5>
                <ul class="list-unstyled text-small">
                    <li><a  href="#">Términos y condiciones</a></li>
                    <li><a  href="#">Política de tratamiento de datos</a></li>
                    <li><a  href="#">Políticas tienda virtual</a></li>
                    <li><a  href="#">Medios de pago soportados</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <h5>Vínculos</h5>
                <ul class="list-unstyled text-small">
                    <li><a  href="#">¿Cómo funciona?</a></li>
                    <li><a  href="#">Blog</a></li>
    
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <h5>Contáctanos</h5>
                <ul class="list-unstyled text-small">
                    <li><a  href="#">xxxx@xxx.com</a></li>
                    <li><a  href="#">+57 3161234567</a></li>
                </ul>
            </div>
        </div>

    </div>
    
</footer>

