<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <h3>EmpreCampo</h3>
      <small class="d-block mb-3 text-muted">Copyright @ 2020 Todos los derechos reservados</small>
    </div>
    <div class="col-6 col-md">
      <h5>Acerca de</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Términos y condiciones</a></li>
        <li><a class="text-muted" href="#">Política de tratamiento de datos</a></li>
        <li><a class="text-muted" href="#">Políticas tienda virtual</a></li>
        <li><a class="text-muted" href="#">Medios de pago soportados</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Vínculos</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">tienda</a></li>
        <li><a class="text-muted" href="#">Blog</a></li>

      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Contáctanos</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">xxxx@xxx.com</a></li>
        <li><a class="text-muted" href="#">+57 3161234567</a></li>
      </ul>
    </div>
  </div>
</footer>