<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first">
            <label for="">::.Registro.::</label>
        </div>

        <form name="signupForm" [formGroup]="signupForm">
            <div>
                <input type="email" formControlName="email" name="email" required placeholder="Enter your email">
            </div>

            <div>
                <input type="password" formControlName="password" name="password" required placeholder="Enter your password">
            </div>

            <div>
                <br />
                <button (click)="register()" class="btn btn-info btn-block" type="button"> Register </button>
            </div>
        </form>
        <div id="formFooter">
            <a class="underlineHover" href="/renta/usuario/login">¿Ya tienes una cuenta?</a>
        </div>
    </div>
</div>