<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Icon -->
        <div class="sign-in-out-title">
            <h2>Registro</h2>
        </div>

        <form name="signupForm" [formGroup]="signupForm">
            <div>
                <input type="email" formControlName="email" name="email" required placeholder="Enter your email">
            </div>
            <div *ngIf="f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Campo requerido</div>
                <div *ngIf="f.email.errors.email">Por favor ingrese un correo valido</div>
            </div>

            <div>
                <input type="password" formControlName="password" name="password" required placeholder="Enter your password">
            </div>
            <div *ngIf="f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Campo requerido</div>
                <div *ngIf="f.password.errors.minlength">debe ingresar mínimo 6 carácteres</div>
            </div>

            <div>
                <br />
                <button (click)="register()" class="btn btn-info " type="button"> Crear mi cuenta </button>
            </div>
        </form>
        <div id="formFooter">
            <a class="underlineHover" href="/renta/usuario/login">¿Ya tienes una cuenta?</a>
        </div>
    </div>
</div>