<header class="header">
   <app-nav-bar></app-nav-bar> 
   <div class="container main-container">
      <div class="row content">

         <div class="col-12">
            <br>
            <br>
            <br>
            <br>
            <h2 class="product-intro">
              Porque <span>Arrendar</span>
               <br>
              Nunca había sido tan fácil
            </h2>
          </div>

          <div class="col-12">
             <div class="container-fluid text-center">
               <form>
                  <div class="container" >
                     <div class="row ">
                        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 "  >
                           <input type="input" formControlName="city" id="city" class="input-search" name="city" placeholder="Ciudad" >
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 justify-content"  >
                           <input type="input" formControlName="rsType" id="rsType" class="input-search" name="rsType" placeholder="Tipo de inmueble">
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 "  >
                           <input type="input" formControlName="fromPrice" id="fromPrice" class="input-search" name="fromPrice" placeholder="Precio desde" > 
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 "  >
                           <button (click)="buscar()" class="btn-header"><span>Buscar</span></button>
                        </div>
                       
                     </div>
                     
                  </div> 
               </form>

             </div>
            

          </div>
      
            
      </div>
   </div>
</header>