<header class="header">
   <app-nav-bar></app-nav-bar> 
   <div class="container main-container">
      <div class="row">

         <div class="col-sm-8">
            <br>
            <br>
            <br>
            <br>
            <h2 class="product-intro">
              Porque <span>Arrendar</span>
               <br>
              Nunca había sido tan fácil
            </h2>
          </div>
      
            <form>
               <div class="row">
                  <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2 " >
                     <input type="input" formControlName="city" id="city" class="fadeIn second" name="city" placeholder="Ciudad" >
                  </div>
                  <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2 " >
                     <input type="input" formControlName="rsType" id="rsType" class="fadeIn third" name="rsType" placeholder="Tipo de inmueble">
                  </div>
                  <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2 " >
                     <input type="input" formControlName="fromPrice" id="fromPrice" class="fadeIn second" name="fromPrice" placeholder="Desde" > 
                  </div>
                  <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2 " >
                     <input type="input" formControlName="toPrice" id="toPrice" class="fadeIn third" name="toPrice" placeholder="Hasta">
                  </div>
                  <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2 " >
                     <button class="btn btn-primary mr-1">Ingresar</button>
                  </div>
                  <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2 " >
                  </div>
               </div> 
            </form>
      </div>
   </div>
</header>