<app-nav-bar></app-nav-bar> 

<div class="container main-container">
    <div class="row" >      
      <div class="col-sm-12 col-md-4 search-left" >
          <div class="row ">
            <div class="col">
              <form [formGroup]="filterForm">
              <div class="row search-row-lable">
                <div class="col-12">
                  <span>Ciudad</span>
                </div>
              </div>
              
              <div class="row">
                <div class="col-12">
                <input (change)="applyFilters()"  type="text" formControlName="city" class="input-search" (keyup)="getLocationId($event)" id="locationId" list="locationsIds" placeholder="Ciudad"  />
                  <datalist id="locationsIds">
                    <option *ngFor="let location of locations">{{location.municipio}}-{{location.departamento}}</option>
                  </datalist>
                </div>
              </div>  
              <div class="row search-row-lable"> 
                <div class="col-12">
                  <span>Tipo inmueble</span>
                </div>
              </div>
              
              <div class="row">
                <div class="col-12">
                  <select (change)="applyFilters()" class="input-search" formControlName="rsType" id="rsType">
                    <option value="apartamento">Apartamento</option>
                    <option value="casa">Casa</option>
                  </select>
                </div>
              </div>

              <div class="row search-row-lable">
                <div class="col-12">
                  <span>Área(mt2)</span>
                </div>
              </div>
              <div class="row ">
                <div class="col-12">
                  <input (change)="applyFilters()" type="number" formControlName="fromArea" id="fromArea"  class="input-search" name="fromArea" placeholder="Desde" >
                </div >
                <div class="col-12">
                  <input (change)="applyFilters()" type="number" formControlName="toArea" id="toArea"  class="input-search" name="toArea" placeholder="Hasta" >
                </div>
              </div>

              <div class="row search-row-lable">
                <div class="col-12">
                  <span>Valor alquiler</span>
                </div>
              </div>
              <div class="row ">
                <div class="col-12">
                  <input (change)="applyFilters()" type="number" formControlName="fromPrice" id="fromPrice"  class="input-search" name="fromPrice" placeholder="Desde" >
                </div>
                <div class="col-12">
                  <input (change)="applyFilters()" type="number" formControlName="toPrice" id="toPrice"  class="input-search" name="toPrice" placeholder="Hasta" >
                </div>
              </div>

              <div class="row search-row-lable ">
                <div class="col-3 counter-lable">
                  <span>Habitaciones</span>
                </div>
                <div class="col-3 ">
                  <button (click)="decrementRooms()" type="button" class="btn-rounded2 "><i class="fas fa-minus" aria-hidden="true"></i></button>
                </div>
                <div class="col-3 counter-lable">
                  <span> {{roomCounter}}</span>
                </div>
                <div class="col-3">
                  <button (click)="incrementRooms()" type="button" class="btn-rounded2 "><i class="fas fa-plus" aria-hidden="true"></i></button>
                </div>
              </div>
              
              <div class="row search-row-lable ">
                <div class="col-3 counter-lable">
                  <span>Baños</span>
                </div>
                <div class="col-3 ">
                  <button (click)="decrementBathrooms()" type="button" class="btn-rounded2 "><i class="fas fa-minus" aria-hidden="true"></i></button>
                </div>
                <div class="col-3 counter-lable">
                  <span> {{bathroomCounter}} </span>
                </div>
                <div class="col-3">
                  <button (click)="incrementBathrooms()" type="button" class="btn-rounded2 "><i class="fas fa-plus" aria-hidden="true"></i></button>
                </div>
              </div>

              <div class="row search-row-lable ">
                <div class="col-3 counter-lable">
                  <span>Parqueaderos</span>
                </div>
                <div class="col-3 ">
                  <button (click)="decrementParkings()" type="button" class="btn-rounded2 "><i class="fas fa-minus" aria-hidden="true"></i></button>
                </div>
                <div class="col-3 counter-lable">
                  <span> {{parkingCounter}}</span>
                </div>
                <div class="col-3">
                  <button (click)="incrementParkings()" type="button" class="btn-rounded2 "><i class="fas fa-plus" aria-hidden="true"></i></button>
                </div>
              </div>
              <div class="row search-row-lable">
                <div class="col-12">
                  <span>¿Amoblado?</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <select (change)="applyFilters()" formControlName="furnished" class="input-search" id="rsType">
                    <option value="true">Si</option>
                    <option value="false">No</option>
                  </select>
                </div>               
              </div>
            </form> 
            </div>           
          </div>
      </div>
       
      <div class="col-sm-12 col-md-8 scroll" >
          <span>Se han encontrado las siguientes viviendas en para alquiler:</span>
          <div class="container">
            <div class="row">
              <div *ngFor="let asset of availableAssets" class='col-12'>
                <div class="card mb-3" >
                  <div class="row no-gutters">
                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
                    <div class="col-md-4">
                      <img (click)="assetDetail(asset)" class="card-img-top cursor-pointer" src="{{asset.images[0].url}}" alt="Card image cap">
                      <div class="icon-over-img ">
                        <a (click)="assetDetail(asset)" ><i class="fas fa-plus"></i>Ver más</a>
                      </div>
                    </div>
                    <div class="col-md-8 card text-right">
                      <div class="card-body">
                        <h5 class="card-title">Apartamento en {{asset.city}} por {{asset.rentingPrice}} </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Código #{{asset.code}}</h6>
                        <div class="row" >
                          <div class="col ">
                            <img class=" icon-filter" src="assets/icons/area.png">{{asset.area}} 
                          </div>
                          <div class="col ">
                            <img class="icon-filter" src="assets/icons/room.png">{{asset.rooms}} 
                          </div>
                          <div class="col">
                            <img class=" icon-filter"  src="assets/icons/bathroom.png">{{asset.bathrooms}}
                          </div>
                          <div class="col">
                            <img class=" icon-filter"  src="assets/icons/parking-area.png">{{asset.parkings}}
                          </div>
                        </div>
                        <a (click)="assetDetail(asset)" class="btn btn-primary">Ver Detalle</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Anterior">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Anterior</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Siguiente">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Siguiente</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</div>
<app-footer></app-footer>
