<app-nav-bar></app-nav-bar>  
<div class="container main-container">
    <div class="row" >      
      <div class="col-sm-4 col-md-3 search-left" >
          <div class="row ">
            <div class="col">
              <div class="row search-row-lable">
                <div class="col-12">
                  <span>Ciudad</span>
                </div>
              </div>
              
              <div class="row">
                <div class="col-12">
                  <input type="input"  class="input-search" id="city"  name="city" placeholder="Ciudad" >

                </div>
              </div>  
              <div class="row search-row-lable"> 
                <div class="col-12">
                  <span>Tipo inmueble</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="input"  class="input-search"  id="city"  name="city" placeholder="Tipo" >
                </div>
              </div>
              <div class="row search-row-lable">
                <div class="col-12">
                  <span>Valor alquiler</span>
                </div>
              </div>
              <div class="row ">
                <div class="col-12">
                  <input type="text" class="input-search" placeholder="Desde">
                </div>
                <div class="col-12">
                  <input type="text" class="input-search" placeholder="Hasta">
                </div>
              </div>
              <div class="row search-row-lable">
                <div class="col-12">
                  <span>¿Amoblado?</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Si</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                  </div>
                </div>               
              </div>
              <div class="row search-row-lable">
                <div class="col-12">
                  <span>Área(mt2)</span>
                </div>
              </div>
              <div class="row ">
                <div class="col-12">
                  <input type="input"  class="input-search"  id="city"  name="city" placeholder="Desde" >
                </div >
                <div class="col-12">
                  <input type="input"  class="input-search"  id="city"  name="city" placeholder="Hasta" >
                </div>
              </div>
              <div class="row"  >
                <div class="col-12">
                  <button  class="btn-header"><span>Aplicar Filtros</span></button>
                </div>              
              </div>
            </div>           
          </div>
      </div>
       
      <div class="col-sm-8 col-md-9 scroll" >
          <span>Se han encontrado las siguientes viviendas en Med e itagui para alquiler:</span>
          <div class="container">
            <div class="row">
              <div class='col-12'>
                <div class="card mb-3" >
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img class="card-img-top" src="assets/img/apt1.jpg" alt="Card image cap">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Apartamento en Itagui por $980.000</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Código #wasi-825389</h6>
                        <div class="row" >
                          <div class="col">
                            <img src="assets/icons/area.png">65
                          </div>
                          <div class="col">
                            <img src="assets/icons/room.png">3
                          </div>
                          <div class="col">
                            <img src="assets/icons/bathroom.png">2
                          </div>
                          <div class="col">
                            <img src="assets/icons/parking-area.png">1
                          </div>
                        </div>
                        <a (click)="verDetalle()" class="btn btn-primary">Ver detalle</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-12'>
                <div class="card " >
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img class="card-img-top" src="assets/img/apt1.jpg" alt="Card image cap">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Apartamento en Medellin por $980.000</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Código #wasi-825389</h6>
  
                        <div class="row" >
                          <div class="col">
                            <img src="assets/icons/area.png">65
                          </div>
                          <div class="col">
                            <img src="assets/icons/room.png">3
                          </div>
                          <div class="col">
                            <img src="assets/icons/bathroom.png">2
                          </div>
                          <div class="col">
                            <img src="assets/icons/parking-area.png">1
                          </div>
                        </div>
                        <a (click)="verDetalle()" class="btn btn-primary">Ver detalle</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-12'>
                <div class="card mb-3" >
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img class="card-img-top" src="assets/img/apt1.jpg" alt="Card image cap">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Apartamento en Itagui por $980.000</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Código #wasi-825389</h6>
                        <div class="row" >
                          <div class="col">
                            <img src="assets/icons/area.png">65
                          </div>
                          <div class="col">
                            <img src="assets/icons/room.png">3
                          </div>
                          <div class="col">
                            <img src="assets/icons/bathroom.png">2
                          </div>
                          <div class="col">
                            <img src="assets/icons/parking-area.png">1
                          </div>
                        </div>
                        <a (click)="verDetalle()" class="btn btn-primary">Ver detalle</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>
