<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <div class="sign-in-out-title">
            <h2>Recuperar cuenta</h2>
        </div>

        <!-- Login Form -->
        <form [formGroup]="recoverForm">
            <input type="email" formControlName="email" id="login-email" class="fadeIn second" name="email" placeholder="Ingrese su email, te enviaremos un código">
            <div *ngIf="f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Campo requerido</div>
                <div *ngIf="f.email.errors.email">Por favor ingrese un correo valido</div>
            </div>

            <button (click)="recoverAccount()" class="btn btn-primary mr-1">1. Enviar código</button>

            <div id="changePassword">
                <input type="text" formControlName="verificationCode" id="verification-code" class="fadeIn second" name="code" placeholder="Ingresa el código que recibiste al correo">
                <input type="password" formControlName="newPwd" id="password" class="fadeIn third" name="newPwd" placeholder="Ingrese nueva contraseña">
                <div *ngIf="f.newPwd.errors" class="invalid-feedback">
                    <div *ngIf="f.newPwd.errors.required">Campo requerido</div>
                    <div *ngIf="f.newPwd.errors.minlength">debe ingresar mínimo 6 carácteres</div>
                </div>
                <input type="password" formControlName="newPwd2" id="passwordConfirm" class="fadeIn third" name="newPwd2" placeholder="Repite nueva contraseña">
                <div *ngIf="f.newPwd2.errors" class="invalid-feedback">
                    <div *ngIf="f.newPwd2.errors.required">Campo requerido</div>
                    <div *ngIf="f.newPwd2.errors.mustMatch">Contraseñas deben ser iguales</div>
                </div>
                <button (click)="changePwd()" class="btn btn-primary mr-1">2. Cambiar contraseña</button>

            </div>
        </form>

        <!-- Remind Password -->
        <div id="formFooter">
            <a class="underlineHover" href="/renta/usuario/login">He recordado mi contraseña</a>
        </div>

    </div>
</div>