<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <label for="">::.Recuperar contraseña.::</label>
        </div>

        <!-- Login Form -->
        <form [formGroup]="recoverForm">
            <label for="login-email">Enviaremos un código 
                de verificación para que puedas cambiar tu contraseña</label>
            <input type="email" formControlName="email" id="login-email" class="fadeIn second" name="email" placeholder="Ingrese su email">
            <label>(Clic de nuevo en caso de no recibir el código al correo)</label>
            <input type="submit" (click)="recoverAccount()" class="fadeIn fourth" value="1. Enviar código">
            <div *ngIf="codeSent" id="changePassword">
                <input type="text" formControlName="code" id="verification-code" class="fadeIn second" name="code" placeholder="Código de verificación">
                <input type="password" formControlName="newPwd" id="password" class="fadeIn third" name="newPwd" placeholder="Ingrese nueva contraseña">
                <input type="password" formControlName="newPwd2" id="passwordConfirm" class="fadeIn third" name="newPwd2" placeholder="Repita nueva contraseña">
                <input type="submit" (click)="changePwd()" class="fadeIn fourth" value="2. Cambiar contraseña">
            </div>
        </form>

        <!-- Remind Password -->
        <div id="formFooter">
            <a class="underlineHover" href="/renta/usuario/login">He recordado mi contraseña</a>
        </div>

    </div>
</div>