<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <div class="sign-in-out-title">
            <h2>Recupera cotraseña</h2>
        </div>

        <!-- Login Form -->
        <form [formGroup]="recoverForm">
            <input type="email" formControlName="email" id="login-email" class="fadeIn second" name="email" placeholder="Ingrese su email">
            <label><small>(Clic de nuevo en caso de no recibir el código a tu correo)</small></label>
            <button (click)="recoverAccount()" class="btn btn-info " type="button"> 1. Enviar código </button>

            <div *ngIf="codeSent" id="changePassword">
                <input type="text" formControlName="verificationCode" id="verification-code" class="fadeIn second" name="code" placeholder="Código de verificación">
                <input type="password" formControlName="newPwd" id="password" class="fadeIn third" name="newPwd" placeholder="Ingrese nueva contraseña">
                <input type="password" formControlName="newPwd2" id="passwordConfirm" class="fadeIn third" name="newPwd2" placeholder="Repita nueva contraseña">
                <button (click)="changePwd()" class="btn btn-info" type="button"> 2. Cambiar contraseña </button>

            </div>
        </form>

        <!-- Remind Password -->
        <div id="formFooter">
            <a class="underlineHover" href="/renta/usuario/login">He recordado mi contraseña</a>
        </div>

    </div>
</div>