<!-- main app container -->
<div class="card m-3">
    <h4 class="card-header"> Registro <small>(Esta información es vital para poder gestionar tus inmuebles, te lo pediremos solo una vez).</small></h4>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-6">
                    <label>Tipo de documento</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">Primer nombre es requerido</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Número de documento</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Segundo nombre es requerido</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label>Primer nombre</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">Primer nombre es requerido</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Segundo nombre</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Segundo nombre es requerido</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label>Primer apelido</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">Primer apellido es requerido</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Segundo apellido</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Segundo apellido es requerido</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label>Dirección</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">Primer apellido es requerido</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Teléfono</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Segundo apellido es requerido</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group col-6">
                    <label>Correo</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Correo es requerido</div>
                        <div *ngIf="f.email.errors.email">Por favor digita un correo válido</div>
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                <label for="acceptTerms" class="form-check-label">Acepto Términos y Condiciones</label>
                <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Por favor lee y acepta las condiciones</div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Registrar</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancelar</button>
            </div>
        </form>
    </div>
</div>