<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <label for="">::.Ingreso.::</label>
        </div>

        <!-- Login Form -->
        <form name="logginForm" [formGroup]="logginForm">
            <input type="email" formControlName="email" id="email" class="fadeIn second" name="email" placeholder="Ingrese su email">
            <input type="password" formControlName="password" id="password" class="fadeIn third" name="password" placeholder="Ingrese su contraseña">
            <input type="submit" (click)="login()" class="fadeIn fourth" value="Ingresar">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/renta/usuario/reset-password">¿Olvidaste tu contraseña?</a>
        </div>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/renta/usuario/signup">¿Crear usuario nuevo?</a>
        </div>

    </div>
</div>