<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="sign-in-out-title">
            <h2>Iniciar Sesión</h2>
        </div>

        <!-- Login Form -->
        <form name="logginForm" [formGroup]="logginForm">
            <input type="email" formControlName="email" id="email" class="fadeIn second" name="email" placeholder="Ingrese su email">
            <input type="password" formControlName="password" id="password" class="fadeIn third" name="password" placeholder="Ingrese su contraseña">
            <button (click)="login()" class="btn btn-info button " type="button"> Ingresar </button>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/renta/usuario/reset-password">¿Olvidaste tu contraseña?</a>
        </div>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/renta/usuario/signup">¿Crear usuario nuevo?</a>
        </div>

    </div>
</div>