// COLORS
$blue: #dae1f1;
$blueLigh: #f5f9fd;
$darkBlue: #0033a0;
$dark-blue-one: #4f69cb;
$lightBlue: #ecfbfa;
$LightSeaGreen: #00b9af;
$lightGreen: #00b5aa;
$white: #fff;
$yellow: #e3e829;
$green: #78bd20;
$gray: #bbb;
$gray-two: #e8e8e8;
$gray-three: #bac5c7;
$gray-four: #9d9d9d;
$gray-five: #707070;
$gray-six: #e0d7d7;
$gray-seven: #53565a;
$gray-eight: #fafafa;
$greenBlue: #0db3ce;
$black: #000000;
$black-one: #072034;
$lightGreenTwo: #00adc6;
$lightGray: #f2f2f236;
$background-two: rgba(255, 222, 150, 0.3);
$background-three: rgba(206, 230, 186, 0.3);
$white: #ffffff;
$background-purchase: #cadbef;
$gray: #d2d2d2;
// TIPOGRAPHY
$secondaryTipography: 'Roboto';
$mainTipography: 'Barlow';
$thirdTipography: 'FSJoeySemiBold';
// BORDER RADIUS
$radius: 5px;
// GENERAL  BREAKPOINTS
$smallSize: 320px;
$largeSize: 576px;
$tabletSize: 768px;
$desktopSize: 992px;
$largedesktopSize: 1024px;